footer#footer
  .moduletable
    img width="" height="" style="border:0" src="https://maps.googleapis.com/maps/api/staticmap?center=53.9075613,27.4393269&size=640x300&scale=2&zoom=17&markers=size:mid%7Ccolor:red%7Clabel:C%7C53.9078181,27.4411253&maptype=roadmap&key=AIzaSyAog29qyMuAWMrd1oImtTkkXHThohUTcj8">

  .footertopbottom
    .footer_top
      .center_block
        .row
          .col-md-6
            h3.zagh3 Контакты
            address.footer_address
              a.a_maps href="https://goo.gl/maps/AZP3T6MTUcu" rel="nofollow" target="_blank"
                | Махачкала
                br
                | ул. Шамсулы Алиева, 6
              a.a_tel href="tel:+79285445977"
                span + 7 (928) 544-59-77
              a.a_mail href="mailto:krasota@saida-kosmetolog.ru"
                span krasota@saida-kosmetolog.ru
          .col-md-6
            h3.zagh3 Мои работы
            .work-images
              = image_tag 'widgetkit/1.jpg'
              = image_tag 'widgetkit/2.jpg'
              = image_tag 'widgetkit/3.jpg'
              = image_tag 'widgetkit/4.jpg'
              = image_tag 'widgetkit/5.jpg'
              = image_tag 'widgetkit/6.jpg'
    .footer_bottom
      .center_block
        .row
          a.sitename.col-md-2 href="/" title=""
            | Copyright © 2015
            br
            | Врач-косметолог Гаджиева Саида Курамагомедовна
