<footer id="footer">
    <%= render 'landing/footer/map' %>

  <div class="footertopbottom">   
    <div class="footer_top">
      <div class="center_block">          
        <div class="row">
          <div class="col-md-6">
            <h3 class="zagh3">Контакты</h3>
            <address class="footer_address">
              <a class="a_maps" href="https://goo.gl/maps/AZP3T6MTUcu" rel="nofollow" target="_blank">Махачкала<br>ул. Шамсулы Алиева, 6</a>
              <a class="a_tel" href="tel:+79285445977"><span>+ 7 (928) 544-59-77</span></a>
              <a class="a_mail" href="mailto:krasota@saida-kosmetolog.ru"><span>krasota@saida-kosmetolog.ru</span></a>
            </address>
          </div>
            <div class="moduletable">
        <h3 class="moduletitle zagh3">Мои работы</h3>
      

<div class="uk-grid-width-1-3 uk-grid-width-small-1-3 uk-grid-width-medium-1-3 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-3 uk-grid uk-grid-match " data-uk-grid-match="{target:'> div > .uk-panel', row:true}" data-uk-grid-margin="">

  
  <div>
  
<div class="uk-panel" style="min-height: 147px;">

  <div class="uk-panel-teaser">

      <figure class="uk-overlay uk-overlay-hover ">

          <img src="/cache/widgetkit/2014-06-23_1403543647-e78394fc28.jpg" class="uk-overlay-spin" alt="2014 06 23 1403543647" width="172" height="140">
          
          
                          <div class="uk-overlay-panel uk-overlay-icon uk-overlay-fade"></div>
          
                                              <a class="uk-position-cover" href="/cache/widgetkit/2014-06-23_1403543647-2178bc8c81.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'.wk-12de'}"></a>
                          
      </figure>

  </div>

  
      
      
  
</div>    </div>

      
  <div>
  
<div class="uk-panel" style="min-height: 147px;">

  <div class="uk-panel-teaser">

      <figure class="uk-overlay uk-overlay-hover ">

          <img src="/cache/widgetkit/2015-01-06_1420557408-c4d6a664ed.jpg" class="uk-overlay-spin" alt="2015 01 06 1420557408" width="172" height="140">
          
          
                          <div class="uk-overlay-panel uk-overlay-icon uk-overlay-fade"></div>
          
                                              <a class="uk-position-cover" href="/cache/widgetkit/2015-01-06_1420557408-4b5e5f184d.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'.wk-12de'}"></a>
                          
      </figure>

  </div>

  
      
      
  
</div>    </div>

      
  <div>
  
<div class="uk-panel" style="min-height: 147px;">

  <div class="uk-panel-teaser">

      <figure class="uk-overlay uk-overlay-hover ">

          <img src="/cache/widgetkit/2015-02-01_1422778470-6c5bae8ffa.jpg" class="uk-overlay-spin" alt="2015 02 01 1422778470" width="172" height="140">
          
          
                          <div class="uk-overlay-panel uk-overlay-icon uk-overlay-fade"></div>
          
                                              <a class="uk-position-cover" href="/cache/widgetkit/2015-02-01_1422778470-932e5ddf93.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'.wk-12de'}"></a>
                          
      </figure>

  </div>

  
      
      
  
</div>    </div>

      
  <div class="uk-grid-margin">
  
<div class="uk-panel" style="min-height: 147px;">

  <div class="uk-panel-teaser">

      <figure class="uk-overlay uk-overlay-hover ">

          <img src="/cache/widgetkit/2015-06-11_1434050414-763888ce26.jpg" class="uk-overlay-spin" alt="2015 06 11 1434050414" width="172" height="140">
          
          
                          <div class="uk-overlay-panel uk-overlay-icon uk-overlay-fade"></div>
          
                                              <a class="uk-position-cover" href="/cache/widgetkit/2015-06-11_1434050414-fb4560f51d.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'.wk-12de'}"></a>
                          
      </figure>

  </div>

  
      
      
  
</div>    </div>

      
  <div class="uk-grid-margin">
  
<div class="uk-panel" style="min-height: 147px;">

  <div class="uk-panel-teaser">

      <figure class="uk-overlay uk-overlay-hover ">

          <img src="/cache/widgetkit/2015-01-12_1421077207-ccd780063f.jpg" class="uk-overlay-spin" alt="2015 01 12 1421077207" width="172" height="140">
          
          
                          <div class="uk-overlay-panel uk-overlay-icon uk-overlay-fade"></div>
          
                                              <a class="uk-position-cover" href="/cache/widgetkit/2015-01-12_1421077207-6b22ed07f8.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'.wk-12de'}"></a>
                          
      </figure>

  </div>

  
      
      
  
</div>    </div>

      
  <div class="uk-grid-margin">
  
<div class="uk-panel" style="min-height: 147px;">

  <div class="uk-panel-teaser">

      <figure class="uk-overlay uk-overlay-hover ">

          <img src="/cache/widgetkit/2015-05-13_1431550192-74c9d33224.jpg" class="uk-overlay-spin" alt="2015 05 13 1431550192" width="172" height="140">
          
          
                          <div class="uk-overlay-panel uk-overlay-icon uk-overlay-fade"></div>
          
                                              <a class="uk-position-cover" href="/cache/widgetkit/2015-05-13_1431550192-3a66b1c856.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'.wk-12de'}"></a>
                          
      </figure>

  </div>

  
      
      
  
</div>    </div>

  
</div>
</div>

        </div>  
      </div>
    </div>
    <div class="footer_bottom"> 
      <div class="center_block">
          <div class="moduletablecontact col-md-6">
      


<div id="wrap">


<div id="formContainer">
      
          <form id="formBody101" class="formBody FlowupLabels" method="POST" action="" name="submit" novalidate="novalidate">

              <div id="formHeader">
                  <p></p>
              </div>

                                              <div class="fl_wrap">
                              <label class="fl_label" for="name">Имя</label>
                              <input class="fl_input" type="text" id="name" name="name">
                          </div>
                  
                                              <div class="fl_wrap">
                              <input class="fl_input" type="text" id="phone" name="phone">
                              <label class="fl_label" for="phone">Телефон</label>
                          </div>
                  
                  
                                                                          <input class="rf_submit" type="submit" value="Позвонить мне" id="send101" name="submitcontactform">


                      <div id="formHeader">
                          <p></p>
                      </div>
                  
          </form>
      <div id="response101"></div>


      <!-- Why it doesn't work in firefox -->

      <script>
      function check(event)
      {
          if (event.keyCode==32)
          {
              return false;
          }
      }

      
      </script>
</div>


</div>



      <script type="text/javascript">
          jQuery(function() {
              // Validate the contact form
            jQuery('#formBody101').validate({
              // Specify what the errors should look like
              // when they are dynamically added to the form
              errorElement: "p",
              wrapper: "",
              errorPlacement: function(error, element) {
                  error.insertBefore( element.parent() );
                  error.wrap("<span class='error'></span>");
                  jQuery("").insertBefore(error);
              },
              
              // Add requirements to each of the fields
              rules: {
                                      name: {
                      required: true,
                      minlength: 2                    },
                                                          phone: {
                      required: true,
                      minlength: 2                    },
                                                                          },
              
              // Specify what error messages to display
              // when the user does something horrid
              messages: {
                  name: {
                      required: "Пожалуйста, введите Ваше имя",
                      minlength: jQuery.format("Требуется не менее {0} символов")
                  },
                  phone: {
                      required: "Пожалуйста, введите Ваш номер телефона",
                      minlength: jQuery.format("Требуется не менее {0} символов")
                  },
                  email: {
                      required: "Пожалуйста, введите Ваш адрес электронной почты",
                      email: "Ошибка в адресе почты"
                  },
                  message: {
                      required: "Пожалуйста, введите Ваше сообщение",
                      minlength: jQuery.format("Требуется не менее {0} символов")
                  }
              },
              
              // Use Ajax to send everything to processForm.php
              submitHandler: function(form) {
                  jQuery("#send101").attr("value", "Отправка сообщения...");
                  jQuery(form).ajaxSubmit({
                      success: function(responseText, statusText, xhr, $form) {
                          jQuery(form).slideUp("fast");
                          jQuery("#response101").html(responseText).hide().slideDown("fast");
                      }
                  });
                  return false;
              }
            });
          });
      </script>

<script type="text/javascript" src="http://saida-kosmetolog.ru//modules/mod_super_simple_contact_form/assets/js/jquery.form.js"></script>

</div>

      <div class="row">
        <a class="sitename col-md-2" href="/" title="">Copyright © 2015<br>Врач-косметолог Гаджиева Саида Курамагомедовна</a>
        <div class="social col-md-2">
          <p class="vss"><span class="ya">Я</span> в соц. сетях</p>
          <a href="https://instagram.com/saida_kosmetolog/" target="blank" rel="nofollow" title="instagram" class="social_a insta"></a>
          <a href="https://ok.com/" target="blank" rel="nofollow" title="Одноклассники" class="social_a ok"></a>
          <a href="https://vk.com/" target="blank" rel="nofollow" title="Вконтакте" class="social_a vk"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
