<div class="modulefone_sliders">
    <div data-uk-slideshow="{duration: 1000,autoplay: true ,autoplayInterval: 10000,pauseOnHover: false,kenburns: '50s'}">
        <div class="uk-position-relative">
            <ul class="uk-slideshow" style="height: 920px;">
                <li aria-hidden="true" class="" style="min-height: 920px; animation-duration: 1000ms; height: 920px;">
                    <div class="uk-cover-background uk-position-cover uk-animation-scale uk-animation-reverse uk-animation-bottom-left" style="animation-duration: 50s; background-image: url(&quot;/assets/1.jpg&quot;);"></div>
                    <img alt="1" height="829" src="/assets/1.jpg" style="width: 100%; height: auto;" width="1920">
                </li>
                <li aria-hidden="false" class="uk-active" style="min-height: 920px; animation-duration: 1000ms; height: 920px;">
                    <div class="uk-cover-background uk-position-cover uk-animation-scale uk-animation-reverse uk-animation-top-center" style="animation-duration: 50s; background-image: url(&quot;/assets/2.jpg&quot;);"></div>
                    <img alt="2" height="829" src="/assets/2.jpg" style="width: 100%; height: auto;" width="1920">
                </li>
            </ul>
        </div>
    </div>
</div>
