<div class="moduletable">
  <img width="" height="" style="border:0" src="https://maps.googleapis.com/maps/api/staticmap?center=53.9075613,27.4393269&size=640x300&scale=2&zoom=17&markers=size:mid%7Ccolor:red%7Clabel:C%7C53.9078181,27.4411253&maptype=roadmap&key=AIzaSyAog29qyMuAWMrd1oImtTkkXHThohUTcj8">
</div>

