/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require wk-styles-4e2a91ec
 *= require landing
 *= require style
 *= require home
 *= require carouselck
 *= require_self
 */


#carouselck_wrap_96 .carouselck_pag_ul li img {width:100px;height:75px;}
#carouselck_wrap_96 .carouselck_caption > div {
  padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;-moz-border-radius: 5px 5px 5px 5px;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;
}
#carouselck_wrap_96 .carouselck_caption > div > div {
  font-size: 2em;
}
#carouselck_wrap_96 .carouselck_caption > div div.carouselck_caption_desc {
  font-size: 1em;
}
#carouselck_wrap_96 .carouselck_images > img {
  -moz-box-shadow: 0px 0px 5px 0px #000;-webkit-box-shadow: 0px 0px 5px 0px #000;box-shadow: 0px 0px 5px 0px #000;
}

div.ias_trigger{text-align: center;margin: 15px 0;} 
    div.ias_trigger a {border: 1px solid #ccc;padding: 5px;border-radius: 5px;background: #f1f1f1;}
        .pagination {display:none !important;}

.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}
.gm-style img{max-width:none}
