body
  background-color: #75A6D6

#map
  height: 600px

.central-block
  position: relative
  height: 100%
  margin: 0 auto
  width: 50%
  padding: 0 15px
  overflow: hidden

#section
  margin-top: 510px
  margin-bottom: 60px
  padding-top: 40px
  color: #fff
  h1
    color: #fff
    text-align: center
  .image
    img
      float: right
      height: 400px
      width: 300px

#top
  height: auto
  margin-top: 120px
  margin-bottom: 60px
  .central-block
    overflow: inherit
    .person
      margin: 0 0 0 -180px
      padding: 30px
      width: 50%
      background-color: $cornflower-color
      border-radius: 10px
      h2
        margin: 0
        color: #fff
        font-family: 'Vivaldi'
        font-size: 75px
        font-weight: normal
        text-align: center
        line-height: 80px
        cursor: pointer
      p
        margin: 0 10px
        color: #fff
        font-size: 24px
        font-family: 'HelveticaNeueCyrlight'
        font-style: italic
        text-align: right

@media print
  .gm-style .gmnoprint, .gmnoprint
    display: none

@media screen
  .gm-style .gmnoscreen, .gmnoscreen
    display: none
