footer
  margin: 0
  padding: 0
  width: 100%
  font-family: "HelveticaNeueCyrLight"
  background: linear-gradient(to right, $cornflower-color, #76BCDC, $cornflower-color)
  .general
    background: asset-url('footer.png') 50% 0 no-repeat
    position: relative
    overflow: hidden
    .top
      height: 435px
      width: $width-default
      margin: 0 auto
      .row
        address
          float: right
          font-family: 'HelveticaNeueCyrlight'
          font-size: 14px
          a
            color: #fff
          h3
            color: #fff
            background-color: inherit
            font-size: 36px
            font-weight: normal
            text-align: left
            margin-top: 30px
            margin-bottom: 30px
            padding: 0
          .map, .phone, .mail
            font-style: normal
            margin-bottom: 24px
            display: block
            text-decoration: none
            position: relative
            vertical-align: middle
            &:before
              content: ''
              display: inline-block
              height: 36px
              width: 36px
              border: 1px solid #fff
              float: left
              margin-right: 10px
              border-radius: 50%
            &:hover::before
              border-color: $link-hover-color
          .map
            &:before
              background: asset-url('map.png') center no-repeat
              top: 0
          .phone
            font-size: 22px
            line-height: normal
            margin-bottom: 30px
            &:before
              background: asset-url('phone.png') center no-repeat
          .mail
            line-height: 36px
            &:before
              background: asset-url('mail.png') center no-repeat
    .bottom
      height: 64px
      background-color: $cornflower-color
      .sitename
        text-align: center
        padding-top: 14px
        p
          color: #fff
          font-size: 13px
