#header{
	height: 100px;
	width: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1
}

/**************************** HEADER_ADDESS*/
.header_address {
	text-align: right;
	font-family: 'HelveticaNeueCyrlight';
	font-size: 14px;

}

.header_address .a_maps,
.header_address .a_tel,
.header_address .a_mail {
	margin: 35px 35px 0 35px;
}

.header_address .a_maps {text-align: left;}
.header_address .a_mail {border-bottom: 1px solid #fff;}

.header_address .a_maps::before,
.header_address .a_tel::before,
.header_address .a_mail::before {
	position: absolute;
	top: -8px;
	left: -45px
}
.header_address a span {display: block;}
.header_address .a_maps::before {margin-top: 10px;}

/************************************ TOP */

#top {
	height: auto;
	margin-bottom: 60px;
}

.modulefone_sliders img { height: 920px !important; }

/************************************ USLUGI*/
.moduletable_uslugi,
.category-module_uslugi {
	text-align: right;
	overflow: hidden;
	list-style: none;
    margin-left: 0;
}

.moduletable_uslugi::before,
.moduletable_uslugi::after {
	display: none;
}

.moduletable_uslugi li.uslugi_li1,
.moduletable_uslugi li.uslugi_li2 {margin-left: 856px}

.moduletable_uslugi li.uslugi_li3 {margin-left: 570px}

.moduletable_uslugi li.col-md-3 {
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}

.moduletable_uslugi li.col-md-3 a {
	position: relative;
	display: block;
	height: 165px;
	width: 262px;
	text-align: left;
	font-family: 'HelveticaNeueCyrlight';
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.moduletable_uslugi li.col-md-3 a:hover::after {opacity: 1}
.moduletable_uslugi li.col-md-3 a:hover span {top: 100px;}

.moduletable_uslugi li.col-md-3 span {top: 166px;}
.moduletable_uslugi li.col-md-3 span::before {opacity: 1}


.moduletable_uslugi .uslugi_li1 a {background-position: 0}
.moduletable_uslugi .uslugi_li2 a {background-position: 0}
.moduletable_uslugi .uslugi_li3 a {background-position: 0}
.moduletable_uslugi .uslugi_li4 a {background-position: 0}
.moduletable_uslugi .uslugi_li5 a {background-position: 0}
.moduletable_uslugi .uslugi_li6 a {background-position: 0}
.moduletable_uslugi .uslugi_li7 a {background-position: 0}
.moduletable_uslugi .uslugi_li8 a {background-position: 0}


.moduletable_gsk {
	position: absolute;
	top: 75px;
	left: 50%;
	margin-left: -350px;
}


.moduletable_gsk h2 {
	font-size: 65px;
	text-align: center;
	line-height: 80px;
	margin-bottom: 20px;
}
.moduletable_gsk p {font-size: 20px;}
.moduletable_gsk p span {font-size: 36px;}

