* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%
}
body {
    background-color: #fff;
    text-align: center;
    font: 12px/20px Arial, sans-serif;
}
header,
nav,
section,
article,
aside,
footer {
    display: block
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 15px 0;
    line-height: 1.5;
    text-align: left;
    font-family: 'HelveticaNeueCyrLight';
    font-weight: bold;
}
h1,
.componentheading {
    font-size: 24px;
    margin: 0 0 15px;
    text-align: center;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5
}
a:link,
a:visited {
    color: #000
}
a:hover {
    text-decoration: none
}
a:focus {
    outline: none
}
p >  a:link,   
p >  a:visited  {    color: #B400A6;}

.listItemIntrotext ul,
.item-page ul {
    margin-left: 40px;
    font-size: 16px;
}
.listItemIntrotext ul li,
.item-page ul li {
    margin: 5px 0;
}
#page {
    min-height: 100%;
    text-align: left;
    min-width: 1170px;
}
.center_block {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
    overflow: hidden;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.clearfix::after,
.row::after {
    display: inline-block;
    width: 100%;
    height: 1px;
    clear: both;
    content: '';
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.col-md-12 {
    width: 100%;
    float: none;
}
.col-md-11 {
    width: 91.66666667%;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.66666667%;
}
.col-md-7 {
    width: 58.33333333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}

/***************************************************** ПЛАГИНАЦИЯ **/

.counter.ss.pull-right {
    display: none;
}
.pagination {
    display: block;
    margin: 10px 0;
    text-align: center;
    position: relative;
}
.pagination ul {
    list-style: none;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin: 0 -162.5px
}
.pagination ul li {
    float: left;
    margin: 0 2.5px;
    height: 24px;
    display: block;
}
.pagination ul li a {
    text-decoration: none;
}
.pagination ul li.pagination_number span,
.pagination ul li.pagination_number a {
    display: block;
    height: 22px;
    width: 22px;
    border: 1px solid #e1e3f0;
}
.pagination ul li.pagination_number span.pagenav {
    background-color: #9A568D;
    border-color: #9A568D;
    color: #fff;
}
.pagination ul li.pagination-start span.pagenav,
.pagination ul li.pagination-prev span.pagenav,
.pagination ul li.pagination-next span.pagenav,
.pagination ul li.pagination-end span.pagenav,
.pagination ul li.pagination-start a.pagenav,
.pagination ul li.pagination-prev a.pagenav,
.pagination ul li.pagination-next a.pagenav,
.pagination ul li.pagination-end a.pagenav {
    display: block;
    padding: 0 5px;
    border: 1px solid #e1e3f0;
}
.pagination ul li.pagination_number a:hover {
    border-color: #9A568D
}
.pagination ul li.pagination-start span.pagenav,
.pagination ul li.pagination-prev span.pagenav,
.pagination ul li.pagination-next span.pagenav,
.pagination ul li.pagination-end span.pagenav {
    display: none;
}
.pagination ul li.pagination-start span.pagenav:hover,
.pagination ul li.pagination-prev span.pagenav:hover,
.pagination ul li.pagination-next span.pagenav:hover,
.pagination ul li.pagination-end span.pagenav:hover,
.pagination ul li.pagination-start a.pagenav:hover,
.pagination ul li.pagination-prev a.pagenav:hover,
.pagination ul li.pagination-next a.pagenav:hover,
.pagination ul li.pagination-end a.pagenav:hover {
    border-color: #9A568D
}
/*****************************HLEBNIE KROSHKI*/

.breadcrumbs {
    margin: 10px 0;
}
.breadcrumb {
    list-style: none;
    margin-left: 0
}
.breadcrumb li {
    display: inline-block;
    font-size: 10px;
    letter-spacing: 1px;
    color: #B400A6
}
.breadcrumb li a {
    color: #888;
    text-decoration: none;
    border-bottom: 1px solid;
}
.breadcrumb li a:hover {
    color: #B400A6;
}
.breadcrumb li .divider {
    margin: 0 4px;
}
#left,
#right,
.contentmiddle,
.contentleft,
.contentright,
.content {
    position: relative;
}
#main_section {}
#left {
    left: -50%;
}
#right {
    right: 0;
}
.contentmiddle {
    left: 25%;
}
.contentleft {}
.contentright {
    right: 25%;
}
.content {}
p.contact {
    font-family: 'HelveticaNeueCyrRoman';
    text-transform: uppercase;
}
p.contact a {
    font-family: 'HelveticaNeueCyrlight';
    font-size: 18px;
    color: #000;
    text-decoration: none;
    text-align: right;
    display: inline-block;
    width: 350px;
    text-transform: none;
}
p.contact_tel a {
    font-size: 30px;
    padding-right: 15px;
}
/********************************************TOP-CONTENT*/

.moduletablecontactform {
    float: right;
}
.moduletablecontactform h3 {
    color: #632766;
    font-size: 24px;
}
.moduletablecontactform .FlowupLabels .fl_input {
    border-radius: 0;
}
.moduletablecontactform .FlowupLabels .focused .fl_input {
    border-color: #9f57a2!important
}
.moduletablecontactform .rf_submit {
    border-radius: 0;
    background-color: #632766;
    width: 50%;
    font-family: 'HelveticaNeueCyrlight';
    font-size: 16px;
}
.moduletablecontactform .rf_submit:hover {
    background-color: #b400a6
}
.jllikeproSharesContayner.jllikepro_13 {}
.pagination {
    display: block;
    margin: 10px 0;
    text-align: center;
    height: 24px;
}
.moduletable {
    margin: 0 0 15px
}
.moduletable h3 {
    background-color: #444444;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    /*line-height: 20px;*/
    margin: 0 0 15px;
    padding: 4px 5px;
    text-align: center;
}
/************************************** STATYA*/
.listItemIntrotext {
    /*font-family: 'HelveticaNeueCyrLight';
line-height: 1.5;*/
}
.listItemIntrotext .listItemIntrotextblockright {
    margin: 0 0 60px 115px;
    border: 5px solid rgba(217, 128, 250, 0.3);
    height: 520px;
    padding: 0;
    float: right;
    font-family: 'HelveticaNeueCyrLight', sans-serif;
    width: 609px;
}
.listItemIntrotext .listItemIntrotextblockright img {
    margin-top: 50px;
    margin-left: -98px;
    float: left;
}
.listItemIntrotext .listItemIntrotextblockrightp {
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    position: relative;
    top: 85px;
}
.listItemIntrotext .listItemIntrotextblockrightp::before,
.listItemIntrotext .listItemIntrotextblockrightp::after {
    content: '';
    display: block;
    height: 33px;
    width: 13px;
    position: absolute;
    top: 10px;
}
.listItemIntrotext .listItemIntrotextblockrightp::before {
    background-image: url(skobleft2.png);
    left: 0;
}
.listItemIntrotext .listItemIntrotextblockrightp::after {
    background-image: url(skobright2.png);
    right: 0;
}
.listItemIntrotext .listItemIntrotextmedium {
    font-family: 'HelveticaNeueCyrRoman';
    font-weight: bold;
}
/****************************************** BOTTOM */
#bottom {
    background-image: url(bgbottom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    margin-top: 60px;
}
.moduletablecarusel {
    padding: 0;
    margin-top: 60px;
}
.moduletablecarusel .moduletitle {
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 70px;
    text-align: center;
}
.moduletablecarusel .carouselck_prev,
.moduletablecarusel .carouselck_next {
    background-color: transparent;
    border: 1px solid #626a78;
    position: absolute;
    left: 50%;
    top: 500px;
    margin-left: -20px
}
.moduletablecarusel .carouselck_prev:hover,
.moduletablecarusel .carouselck_next:hover {
    border-color: rgba(225, 123, 201, .6)
}
.moduletablecarusel .carouselck_prev {
    margin-left: -45px
}
.moduletablecarusel .carouselck_black_skin .carouselck_prev > span {
    background-image: url(iconleft.png);
    background-position: center;
}
.moduletablecarusel .carouselck_next {
    margin-left: 5px
}
.moduletablecarusel .carouselck_black_skin .carouselck_next > span {
    background-image: url(iconright.png);
    background-position: center;
}
