<script type="text/javascript">
  jQuery(function(){
    jQuery('#carouselck_wrap_96').carouselck({
    wrapheight: '38',
    imageheight: '65',
    imagesratio: '0.72',
    pagination: 0,
    duration: 600,
    time: 7000,
    captionduration: 600,
    autoAdvance: 1,
    lightbox: 'mediaboxck',
    navigationHover: false,
      navigation: true,
      playPause: 0,
    hover: true
    });
  });
</script>

<div id="bottom">
  <div class="center_block">
    <div class="row">
      <div class="moduletablecarusel">
        <h3 class="moduletitle">Дипломы и сертификаты</h3>

        <div class="carouselckcarusel carouselck_wrap carouselck_black_skin carousel_wrap" id="carouselck_wrap_96" style="width: 100%; height: 444.6px;">
          <div class="carouselck_src">
            <div class="carouselck" data-src="/assets/IMG_3177-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3178-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3179-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3180-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3181-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3182-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3183-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3184-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/IMG_3185-Edit_result.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/diplomy-i-sertifikaty_01.jpg" style="display: none;"></div>
            <div class="carouselck" data-src="/assets/diplomy-i-sertifikaty_02.jpg" style="display: none;"></div>
          </div>

          <div class="carouselck_images">
            <img src="/assets/IMG_3177-Edit_result.jpg" class="" index="9" naturalindex="0" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;">
            <img src="/assets/IMG_3178-Edit_result.jpg" index="10" naturalindex="1" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;" class="">
            <img src="/assets/IMG_3179-Edit_result.jpg" index="0" naturalindex="2" style="position: absolute; height: 320px; width: 492px; left: 65px; top: 62px; z-index: 989; opacity: 0.8;" class="">
            <img src="/assets/IMG_3180-Edit_result.jpg" index="1" naturalindex="3" style="position: absolute; height: 445px; width: 684px; left: 242px; top: 0px; z-index: 1000; opacity: 1;" class="carouselckcurrentimg">
            <img src="/assets/IMG_3181-Edit_result.jpg" index="2" naturalindex="4" style="position: absolute; height: 320px; width: 492px; left: 611px; top: 62px; z-index: 990; opacity: 0.8;" class="">
            <img src="/assets/IMG_3182-Edit_result.jpg" index="3" naturalindex="5" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;" class="">
            <img src="/assets/IMG_3183-Edit_result.jpg" index="4" naturalindex="6" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;" class="">
            <img src="/assets/IMG_3184-Edit_result.jpg" index="5" naturalindex="7" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;" class="">
            <img src="/assets/IMG_3185-Edit_result.jpg" index="6" naturalindex="8" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;" class="">
            <img src="/assets/diplomy-i-sertifikaty_01.jpg" index="7" naturalindex="9" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;" class="">
            <img src="/assets/diplomy-i-sertifikaty_02.jpg" index="8" naturalindex="10" style="position: absolute; height: 230px; width: 230px; left: 469px; top: 44px; z-index: 979; opacity: 0;" class="">
          </div>

          <div class="carouselck_thumbs_cont"></div>

          <div class="carouselck_captions" style="position: absolute; height: 445px; width: 684px; left: 242px; top: 0px;">
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
            <div class="carouselck_caption emptyck" style="display: none;"></div>
          </div>

          <div class="carouselck_videos" style="position: absolute; z-index: 1000; height: 445px; width: 684px; left: 242px; top: 0px; display: none;"></div>
          <div class="carouselck_prev"><span></span></div>
          <div class="carouselck_next"><span></span></div>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>
