<header id='header'>
  <div class="center_block">
    <div class="row">
      <address class="header_address">
        <a class="a_maps" href="https://goo.gl/maps/hoJJbp7v8xx" rel="nofollow" target="_blank"><span>Махачкала<br>ул. Шамсулы Алиева, 6</span></a>
        <a class="a_tel" href="tel:+79285445977"><span>+ 7 (928) 544-59-77</span></a>
        <a class="a_mail" href="mailto:krasota@saida-kosmetolog.ru"><span>krasota@saida-kosmetolog.ru</span></a>
      </address>
    </div>
  </div>
</header>
