section#main_section role="main"
  .center_block
    .row
      section.content
        article
          .blog-featured
            .items-leading.clearfix
              .leading-0.clearfix
                .listItemIntrotext
                  h1 Врач - косметолог Павловская Людмила Петровна
                  .listItemIntrotextblockright
                    img alt=("Косметолог Павловская Людмила Петровна") src="/assets/homeimg.jpg" title=("Косметолог Павловская Людмила Петровна") /
                    p.listItemIntrotextblockrightp.col-md-4
                      | Опыт работы
                      br
                      | более 5 лет
                    p.listItemIntrotextblockrightp.col-md-4
                      | Более 150&nbsp;
                      br
                      | довольных клиентов
                    p.listItemIntrotextblockrightp.col-md-4
                      | Индивидуальный
                      br
                      | подход к каждому клиенту
                  p
                    | На сколько лет женщина чувствует себя в душе, на столько она и выглядит. Но всё же то, как она ухаживает за собой, тоже не стоит сбрасывать со счетов.
                    br
                    | Ухоженная женщина всегда будет вызывать к себе невольное уважение и интерес, хотя бы уже потому, что она любит себя и своё тело и заботится о нём.
                  h3 Что значит ухаживать за собой?
                  p
                    | Это – комплекс процедур, долгосрочный проект, который требует ежедневного труда в уходе за своей кожей,
                    a href="/uslugi/36-mezoterapiya-volos-krasivye-i-zdorovye-volosy-eto-sila-zhenshchiny.html" title=("Мезотерапия волос — красивые и здоровые волосы это сила женщины")  волосами
                    | и телом. Причём результат не замедлит себя проявить, как только вы перешагнёте порог 40 лет.
                  p Правильный отдых, соответствующая типу кожи и возрасту косметика, физические упражнения, диета – всё это составляющие здоровья.
                  p Немаловажной составляющей здоровья являются регулярные визиты к косметологу, так как лицо и волосы – это визитная карточка каждой женщины.
                  h3 Почему важно вовремя обратиться за помощью к врачу-косметологу?
                  p Что значит вовремя? Вовремя, это значит начинать заботиться о своей коже не тогда, когда вы заметили первые признаки её увядания, а намного раньше. Скажем так, если вам уже 25, то вы можете начинать подбирать для себя хорошего косметолога.

                  p Регулярные процедуры, такие как
                    a href="/uslugi/30-ultrazvukovaya-chistka-litsa-mgnovennyj-rezultat-bez-boleznennykh-oshchushchenij.html" title="Ультразвуковая чистка лица — мгновенный результат без болезненных ощущений" чистка
                    | ,
                    a href="/uslugi/38-piling-chistka-litsa-ili-kak-sdelat-kozhu-krasivoj-i-siyayushchej-v-makhachkale.html" title="Пилинг, чистка лица — или как сделать кожу красивой и сияющей в Махачкале" пилинг
                    | , классический и лечебный
                    a href="/uslugi/31-massazh-litsa-pilingi-chistka-litsa.html" title="Массаж лица — который продлевает молодость" массаж лица
                    | , позволят вам стимулировать кровоснабжение клеток вашей кожи и поддерживать её в тонусе. Постоянное выполнение этих процедур способствует замедлению старения кожи, сохранению нею своей молодости и красоты.

                  h3 Услуги врача-косметолога в Махачкале
                  p
                    | Хороший
                    a href="/obo-mne.html" title=("Саида Курамагомедовна Гаджиева")  врач косметолог
                    | – это ваш самый лучший друг, который поможет вам противостоять старению.&nbsp;Какие косметические процедуры может предоставить вам врач-косметолог в Махачкале?
                  p Кроме обычной чистки и массажа кожи лица, здесь можно сделать следующие процедуры:
                  ul
                    li алмазная шлифовка лица;
                    li мезотерапия лица и волос;
                    li плазмолифтинг лица и волос.
                  p С помощью косметолога можно провести коррекцию черт лица, например, сделать увеличение губ.
                  p
                    | Забота о своей внешности – это один из первых пунктов заботы о своём здоровье. Ведь красивой, хорошо выглядящей женщине все двери открыты.
                    br
                    | А также, дорогие женщины, помните – никогда не поздно идти к косметологу! А в 40 лет жизнь только начинается!
