<div id="top">
        <div class="center_block">
          <div class="row">
              <div class="moduletable_uslugi">
        <ul class="category-module_uslugi">
        
    <li class="col-md-3 uslugi_li1">
              <a class="mod-articles-category-title " title="Алмазная шлифовка лица и безыгольная терапия — придающая сияние и эффективно разглаживающая морщинки" href="/uslugi/32-apparatnaya-kosmetologiya-uzi-chistka-almaznaya-shlifovka-bez-igolnaya-terapiya.html">
        <span>Алмазная шлифовка лица и безыгольная терапия — придающая сияние и эффективно разглаживающая морщинки</span>
        </a>
      
      
      
      
      
      
          </li>
        
    <li class="col-md-3 uslugi_li2">
              <a class="mod-articles-category-title " title="Антицеллюлитный массаж — кожа приобретет природную гладкость и эластичность в проблемных зонах вашего тела" href="/uslugi/41-antitsellyulitnyj-massazh-kozha-priobretet-prirodnuyu-gladkost-i-elastichnost-v-problemnykh-zonakh-vashego-tela.html">
        <span>Антицеллюлитный массаж — кожа приобретет природную гладкость и эластичность в проблемных зонах вашего тела</span>
        </a>
      
      
      
      
      
      
          </li>
        
    <li class="col-md-3 uslugi_li3">
              <a class="mod-articles-category-title " title="Диспорт, ботокс. Уход (витаминный, антивозрастной, увлажняющий, питательный)" href="/uslugi/42-disport-botoks-ukhod-vitaminnyj-antivozrastnoj-uvlazhnyayushchij-pitatelnyj.html">
        <span>Диспорт, ботокс. Уход (витаминный, антивозрастной, увлажняющий, питательный)</span>
        </a>
      
      
      
      
      
      
          </li>
        
    <li class="col-md-3 uslugi_li4">
              <a class="mod-articles-category-title " title="Заполнение носогубных и межбровных морщин — как убрать морщины и забыть о них на долго" href="/uslugi/28-zapolnenie-nosogubnykh-mezhbrovnykh-morshchin.html">
        <span>Заполнение носогубных и межбровных морщин — как убрать морщины и забыть о них на долго</span>
        </a>
      
      
      
      
      
      
          </li>
        
    <li class="col-md-3 uslugi_li5">
              <a class="mod-articles-category-title " title="Классический расслабляющий массаж — вернет вам силы и поможет расслабиться" href="/uslugi/39-klassicheskij-rasslablyayushchij-massazh-vernet-vam-sily-i-pomozhet-rasslabitsya.html">
        <span>Классический расслабляющий массаж — вернет вам силы и поможет расслабиться</span>
        </a>
      
      
      
      
      
      
          </li>
        
    <li class="col-md-3 uslugi_li6">
              <a class="mod-articles-category-title " title="Лечебный массаж — позволяет пациентам снять мышечное напряжение и получить быстрый эффект" href="/uslugi/40-lechebnyj-massazh-pozvolyaet-patsientam-snyat-myshechnoe-napryazhenie-i-poluchit-bystryj-effekt.html">
        <span>Лечебный массаж — позволяет пациентам снять мышечное напряжение и получить быстрый эффект</span>
        </a>
      
      
      
      
      
      
          </li>
        
    <li class="col-md-3 uslugi_li7">
              <a class="mod-articles-category-title " title="Лечение проблемной кожи лица (акне, демодекоз – кожный клещ)" href="/uslugi/25-1-lechenie-problemnoj-kozhi-litsa-akne-demodekoz-kozhnyj-kleshch.html">
        <span>Лечение проблемной кожи лица (акне, демодекоз – кожный клещ)</span>
        </a>
      
      
      
      
      
      
          </li>
        
    <li class="col-md-3 uslugi_li8">
              <a class="mod-articles-category-title " title="Массаж лица — который продлевает молодость" href="/uslugi/31-massazh-litsa-pilingi-chistka-litsa.html">
        <span>Массаж лица — который продлевает молодость</span>
        </a>
      
      
      
      
      
      
          </li>
  </ul>
  </div>
  <div class="moduletable_gsk">
        

<div class="custom_gsk">
  <h2><a href="/">Гаджиева<br>Саида Курамагомедовна</a></h2>
<p><span>{</span>Врача-косметолога и терапевта<span>}</span></p></div>
  </div>
    
          </div>
        </div>  
      </div>
